.side-bar {
    width: 20%;
    min-height: 100vh;
    background-color: white;
    opacity: 0.95;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.main-body {
    width: 80%;
}

.main-page {
    width: 100%;
    display: flex;
    height: 100%;
}