.margin-auto {
    margin: auto;
}

.display-flex {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.blue-back {
    background-color: aliceblue;
    height: auto;
    min-height: 100vh;
}