.margin-auto {
    margin: auto;
}

.display-flex {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.blue-back {
    background-color: aliceblue;
    height: auto;
    min-height: 100vh;
}

.container-inner-padding {
    padding: 4%;
}

.light-green-background {
    background-color: #d4edda;
    color: #155724;
}

.correct-answer {
    font-weight: 500;
}

.margin-2 {
    margin-bottom: 2%;
}

.aliceblue-back {
    background-color: aliceblue;
    height: auto;
    min-height: 100vh;
}

.back-white {
    background-color: white;
}